*.elc
*~
session.*
/project.hist
/ac-comphist.dat
/.org-id-locations
/tramp
/history
/eshell/history
/elpa
/url/cookies
/ido.last
.secrets.el
straight/build-cache.el
straight/build/
straight/repos/
transient/
smex-items
places
projectile-bookmarks.eld
recentf
custom.el
.lsp-session-v1
.mc-lists.el
cider-history
savehist
